<ngx-smart-modal #prontuarioModal identifier="prontuarioModal" customClass="modal-xl" [dismissable]="false"
  (onCloseFinished)="eraseForm()">
  <div class="card-body">
    <form #evolucaoForm="ngForm">
      <h5 class="card-title text-secondary">Prontuário Eletrônico</h5>
      <p><strong>PACIENTE: </strong> {{form.nome | uppercase}}</p>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" required minlength="5" maxlength="80" [(ngModel)]="form.nome"
              name="nome" #nome="ngModel">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="cpf_rg">CPF/RG</label>
            <input type="text" class="form-control" required [(ngModel)]="form.cpf_rg" name="cpf_rg" #cpf_rg="ngModel">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="estado_civil">Estado Civil</label>
            <ng-select [multiple]="false" [(ngModel)]="form.estado_civil" required name="estado_civil"
              #estado_civil="ngModel">
              <ng-option *ngFor="let ec of _estado_civil" [value]="ec">{{ ec }}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Telefone/Celular</label>
            <input type="text" class="form-control" [(ngModel)]="form.telefone_celular" required name="telefone_celular"
              #telefone_celular="ngModel" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="sexo">Sexo</label>
            <ng-select [multiple]="false" [(ngModel)]="form.sexo" required name="sexo" #sexo="ngModel">
              <ng-option *ngFor="let sexo of _sexo" [value]="sexo">{{ sexo }}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="tipo">Tipo de Paciente</label>
            <ng-select [multiple]="false" [(ngModel)]="form.tipo" required name="tipo" #tipo="ngModel">
              <ng-option *ngFor="let tp of _tipo_paciente" [value]="tp">{{ tp }}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngIf="form.tipo == 'Aluno'  || form.tipo == 'Funcionário'">
          <div class="form-group">
            <label for="matricula">Matrícula</label>
            <input type="text" class="form-control" [(ngModel)]="form.matricula" required name="matricula"
              #matricula="ngModel" />
          </div>
        </div>
        <div class="col-md-8" *ngIf="form.tipo == 'Aluno'">
          <div class="form-group">
            <label for="curso">Curso</label>
            <input type="text" class="form-control" [(ngModel)]="form.curso" required name="curso" #curso="ngModel" />
          </div>
        </div>
        <div class="col-md-8" *ngIf="form.tipo == 'Funcionário'">
          <div class="form-group">
            <label for="setor">Setor</label>
            <input type="text" class="form-control" [(ngModel)]="form.setor" required name="setor" #setor="ngModel" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Estado de naturalidade</label>
            <input type="text" class="form-control" name="estado_naturalidade" [(ngModel)]="form.estado_naturalidade"
              required #estado_naturalidade="ngModel">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Cidade de naturalidade</label>
            <input type="text" class="form-control" name="cidade_naturalidade" [(ngModel)]="form.cidade_naturalidade"
              required #cidade_naturalidade="ngModel">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Data de Nascimento</label>
            <input type="date" class="form-control" required [(ngModel)]="form.data_nascimento" name="data_nascimento"
              #data_nascimento="ngModel">
          </div>
        </div>
      </div>

      <h6 class="card-title text-secondary">Endereço</h6>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>CEP</label>
            <input type="text" class="form-control" (change)="getEnderecoViaCep($event, form.cep)" required
              [(ngModel)]="form.cep" name="cep" #cep="ngModel">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Estado</label>
            <input type="text" class="form-control" required [(ngModel)]="form.estado" name="estado" #estado="ngModel">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Cidade</label>
            <input type="text" class="form-control" required [(ngModel)]="form.cidade" name="cidade" #cidade="ngModel">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label>Bairro</label>
            <input type="text" class="form-control" required [(ngModel)]="form.bairro" name="bairro" #bairro="ngModel">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label>Logradouro</label>
            <input type="text" class="form-control" required [(ngModel)]="form.logradouro" name="logradouro"
              #logradouro="ngModel">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Número</label>
            <input type="text" class="form-control" required [(ngModel)]="form.numero" name="numero" #numero="ngModel">
          </div>
        </div>
      </div>

      <h6 class="card-title text-secondary">Contato</h6>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nome_contato">Nome</label>
            <input class="form-control" required name="nome_contato" [(ngModel)]="form.nome_contato"
              #nome_contato="ngModel" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="numero_contato">Contato</label>
            <input class="form-control" required name="numero_contato" [(ngModel)]="form.numero_contato"
              #numero_contato="ngModel" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Observações</label>
            <textarea class="form-control textarea" name="observacao" [(ngModel)]="form.observacao"
              #observacao="ngModel"></textarea>
          </div>
        </div>
      </div>

      <div *ngIf="hasHistorico">
        <hr>
        <h5 class="card-title">Histórico Médico</h5>
        <br />
        <h6> Antecedentes Familiares (pai, mãe, irmãos, tios, avós e filhos) </h6>
        <div class="row fix-row">
          <table class="table table-striped table-bordered dataTable">
            <thead>
              <tr>
                <th>Diabetes</th>
                <th>Hipertensão</th>
                <th>Infarto</th>
                <th>Morte Súbita</th>
                <th>Câncer</th>
                <th>Outro</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ historico.diabetes > 0 ? 'Sim' : 'Não' }}</td>
                <td>{{ historico.hipertensao > 0 ? 'Sim' : 'Não' }}</td>
                <td>{{ historico.infarto > 0 ? 'Sim' : 'Não' }}</td>
                <td>{{ historico.morte_subita > 0 ? 'Sim' : 'Não' }}</td>
                <td>{{ historico.cancer > 0 ? 'Sim' : 'Não' }}</td>
                <td>{{ (historico.outro != null && historico.outro != '' ) ? historico.outro : 'Não'}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <br>
        <h6> Antecedentes Pessoais </h6>
        <div class="row fix-row">
          <table class="table table-striped table-bordered dataTable">
            <thead>
              <tr>
                <th>Fumante</th>
                <th>Consome Álcool</th>
                <th>Alergia</th>
                <th>Atividade Física</th>
                <th>Cirurgia</th>
                <th>Usa Medicamento</th>
                <th>Hipertenso</th>
                <th>Diabético</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ historico.fumante > 0 ? historico.quantidade_cigarros : 'Não' }}</td>
                <td>{{ historico.alcool > 0 ? historico.frequencia_alcool : 'Não' }}</td>
                <td>{{ historico.alergia > 0 ? historico.nome_alergia : 'Não' }}</td>
                <td>{{ historico.atividade_fisica > 0 ? historico.nome_atividade : 'Não' }}</td>
                <td>{{ historico.cirurgia > 0 ? historico.nome_cirurgia : 'Não' }}</td>
                <td>{{ historico.usa_medicamento > 0 ? historico.nome_medicamento : 'Não' }}</td>
                <td>{{ historico.hipertenso > 0 ? 'Sim' : 'Não' }}</td>
                <td>{{ historico.diabetico > 0 ? 'Sim' : 'Não' }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <br>
        <h6> Estado Vacinal </h6>
        <div class="row fix-row">
          <table class="table table-striped table-bordered dataTable">
            <thead>
              <tr>
                <th>dt</th>
                <th>HB</th>
                <th>FA</th>
                <th>Influenza</th>
                <th>Antirrábica</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ historico.vacina_dt > 0 ? 'Sim' : 'Não' }}</td>
                <td>{{ historico.vacina_hb > 0 ? 'Sim' : 'Não' }}</td>
                <td>{{ historico.vacina_fa > 0 ? 'Sim' : 'Não' }}</td>
                <td>{{ historico.vacina_influenza > 0 ? 'Sim' : 'Não' }}</td>
                <td>{{ historico.vacina_antirrabica > 0 ? 'Sim' : 'Não' }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <br>
        <h6>Risco Social</h6>
        <div class="row fix-row">
          <table class="table table-striped table-bordered dataTable">
            <thead>
              <tr>
                <th>Mora Sozinho?</th>
                <th>Está passando por problema familiar?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ historico.mora_sozinho > 0 ? 'Sim' : 'Não' }}</td>
                <td>{{ historico.problema_familiar > 0 ? 'Sim' : 'Não' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
      </div>

      <h5 class="card-title" *ngIf="hasExame">Exame Físico</h5>
      <br>
      <div *ngIf="hasExame">
        <table class="table table-striped table-bordered dataTable">
          <thead>
            <tr>
              <th>Data</th>
              <th>Enfermeiro</th>
              <th>Pressão Arterial</th>
              <th>Altura</th>
              <th>Peso</th>
              <th>Glicemia</th>
              <th>Temperatura</th>
              <th>FC</th>
              <th>FR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exame of exames">
              <td>{{exame.data | date: 'dd/MM/yyyy'}}</td>
              <td>{{exame.enfermeiro}}</td>
              <td>{{exame.pressao}} mmHg</td>
              <td>{{exame.altura}} cm</td>
              <td>{{exame.peso}} Kg</td>
              <td>{{exame.glicemia}} mg/dL</td>
              <td>{{exame.temperatura}} °C</td>
              <td>{{exame.frequencia_cardiaca}} bpm</td>
              <td>{{exame.frequencia_respiratoria}} rpm</td>
            </tr>
          </tbody>
        </table>
        <hr>
      </div>

      <h5 class="card-title" *ngIf="hasEvolucao">Evolução do Paciente</h5>
      <br>
      <table class="table table-striped table-bordered dataTable" *ngIf="hasEvolucao">
        <thead>
          <tr>
            <th>Data</th>
            <th>Médico</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evolucao of evolucoes">
            <td>{{evolucao.data | date: 'dd/MM/yyyy'}}</td>
            <td>{{evolucao.medico}}</td>
            <td>{{evolucao.descricao}}</td>
          </tr>
        </tbody>
      </table>
      <br />
      <div class="btn btn-default" (click)="close()">Cancelar</div>
      <button class="btn btn-success pull-right" title="Imprimir" (click)="print()">
        Imprimir
        <i class="fa fa-print fa-1x"></i>
      </button>
      <!-- <button class="btn btn-info pull-right" title="Salvar PDF">
        Salvar como PDF
        <i class="fa fa-file-pdf-o fa-1x"></i>
      </button> -->
    </form>
  </div>
</ngx-smart-modal>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left">
          Pacientes
        </h4>
        <!-- <p class="category">Created using Montserrat Font Family</p> -->
      </div>
      <div class="card-body">
        <div class="table">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" cellspacing="0"
            class="table table-striped table-bordered dataTable">
            <thead class="text-primary">
              <tr>
                <th>Nome</th>
                <th>CPF/RG</th>
                <th>Tipo</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paciente of pacientes">
                <td>{{ paciente.nome }}</td>
                <td>{{ paciente.cpf_rg }}</td>
                <td>{{ paciente.tipo }}</td>
                <td class="text-right">
                  <button class="btn btn-info btn-icon btn-sm" type="button" title="Visualizar"
                    (click)="openForm(paciente.id)">
                    <i class="fa fa-eye fa-2x"></i>
                  </button>
                  <!-- <button class="btn btn-danger btn-icon btn-sm" type="button" title="Salvar">
                    <i class="fa fa-file-pdf-o fa-2x"></i>
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
