<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item btn-magnify" ngbDropdown placement="bottom-left">
          <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle id="navbarDropdownMenuLink"
            title="Meu Perfil">
            <i class="nc-icon nc-single-02"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
            <blockquote>
              <p>{{ user.name }}</p>
              <br>
              <p>{{ user.email }}</p>
              <br>
              <p> {{ user.perfil }} </p>
            </blockquote>
            <!-- <a ngbDropdownItem href="javascript:void(0)"> {{ user.name }} </a>
            <a ngbDropdownItem href="javascript:void(0)"> {{ user.email }} </a>
            <a ngbDropdownItem href="javascript:void(0)"> Master </a> -->
          </div>
        </li>

        <!-- <li class="nav-item btn-rotate" ngbDropdown placement="bottom-left">
          <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle id="navbarDropdownMenuLink"
            title="Notificações">
            <i class="nc-icon nc-bell-55"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
            <blockquote>
              <p>Notificação 1</p>
              <br>
              <p>Notificação 2</p>
            </blockquote>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link btn-rotate" href="#" (click)="logout($event)" title="Sair" placeholder="Sair">
            <i class="nc-icon nc-button-power"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
