<ngx-smart-modal #inventarioModal identifier="inventarioModal" customClass="medium-modal" [dismissable]="false"
  (onCloseFinished)="eraseForm()">
  <div class="card-body">
    <form #inventarioForm="ngForm" (ngSubmit)="isNewItem? save() : update()">
      <h5 class="card-title" *ngIf="!form.id">Novo Item</h5>
      <h5 class="card-title" *ngIf="form.id">Editar Item</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input class="form-control" required [(ngModel)]="form.nome" name="nome" #nome="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="quantidade">Quantidade</label>
            <input type="text" mask="09" class="form-control" required [(ngModel)]="form.quantidade" name="quantidade"
              #quantidade="ngModel">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" [(ngModel)]="form.descricao" name="descricao" #descricao="ngModel">{{descricao.value}}
              </textarea>
          </div>
        </div>
      </div>
      <br />
      <div class="btn btn-default" (click)="close()">Cancelar</div>
      <button class="btn btn-info pull-right" [disabled]="inventarioForm.form.invalid">Salvar</button>
    </form>
  </div>
</ngx-smart-modal>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left">
          Inventário
        </h4>
        <button class="btn btn-info btn-round pull-right" type="submit"
          (click)="ngxSmartModalService.getModal('inventarioModal').open()">
          Novo
        </button>
        <!-- <p class="category">Created using Montserrat Font Family</p> -->
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <input type="text" [(ngModel)]="form.buscar" class="form-control" placeholder="Buscar" />
          </div>
        </div>
        <br>
        <div class="alert alert-info text-center" role="alert" *ngIf="itensInventario.length == 0">
          Não há itens cadastrados no inventário!
        </div>
        <ul>
          <div class="row">
            <div class="col-md-4" *ngFor="let item of itensInventario | filter : form.buscar">
              <a href="#/inventario" (click)="openFormEdit(item.id)">
                <li>
                  <fa-icon [icon]="faPills" class="fa-2x"></fa-icon>
                  <p>{{ item.nome }}</p>
                  <p>{{ item.quantidade }}</p>
                </li>
              </a>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
