<ngx-smart-modal #inventarioModal identifier="inventarioModal" customClass="medium-modal" [dismissable]="false"
  (onCloseFinished)="eraseForm()">
  <div class="card-body">
    <form #inventarioForm="ngForm" (ngSubmit)="isNewItem? save() : update()">
      <h5 class="card-title" *ngIf="!form.id">Novo Item</h5>
      <h5 class="card-title" *ngIf="form.id">Editar Item</h5>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input class="form-control" required [(ngModel)]="form.nome" name="nome" #nome="ngModel">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="tipo">Tipo</label>
            <ng-select [multiple]="false" [(ngModel)]="form.tipo" required name="tipo"
              #tipo="ngModel">
              <ng-option *ngFor="let tipo of _tipo_medicamento" [value]="tipo">{{ tipo }}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="dose">Dose</label>
            <input type="text" mask="09" class="form-control" required [(ngModel)]="form.dose" name="dose"
              #dose="ngModel">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" [(ngModel)]="form.descricao" name="descricao" #descricao="ngModel">{{descricao.value}}
              </textarea>
          </div>
        </div>
      </div>
      <br />
      <div class="btn btn-default" (click)="close()">Cancelar</div>
      <button class="btn btn-info pull-right" [disabled]="inventarioForm.form.invalid">Salvar</button>
    </form>
  </div>
</ngx-smart-modal>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left">
          Inventário
        </h4>
        <button class="btn btn-info btn-round pull-right" type="submit"
          (click)="ngxSmartModalService.getModal('inventarioModal').open()">
          Novo
        </button>
        <!-- <p class="category">Created using Montserrat Font Family</p> -->
      </div>
      <div class="card-body">
        <div class="table">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" cellspacing="0"
            class="table table-striped table-bordered dataTable">
            <thead class="text-primary">
              <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Dose</th>
                <th>Descrição</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itensInventario">
                <td>{{ item.nome }}</td>
                <td>{{ item.tipo }}</td>
                <td>{{ item.dose }}</td>
                <td>{{ item.descricao }}</td>
                <td class="text-right">
                  <button class="btn btn-warning btn-icon btn-sm " type="button" title="Editar"
                    (click)="openFormEdit(item.id)">
                    <i class="fa fa-edit fa-2x"></i>
                  </button>
                  <button class="btn btn-danger btn-icon btn-sm " type="button" title="Excluir">
                    <i class="fa fa-times fa-2x"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
