<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Relatórios Gerenciais</h4>
      </div>
      <div class="card-body">
        <p class="card-category">CRITÉRIOS</p>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Tipo de Atendimento</label>
              <ng-select [multiple]="true" [(ngModel)]="form.tipo_atendimento" name="tipo_atendimento"
                #tipo_atendimento="ngModel" (change)="geraRelatorio()">
                <ng-option *ngFor="let atendimento of _tipo_atendimento" [value]="atendimento">
                  {{ atendimento }}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Ano</label>
              <ng-select [multiple]="true" [(ngModel)]="form.ano_atendimento" name="ano_atendimento"
                #ano_atendimento="ngModel" (change)="geraRelatorio()">
                <ng-option *ngFor="let ano of _ano_atendimento" [value]="ano">{{ ano }}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <hr>
        <p class="card-category">Relatório Anual</p>
        <div class="table">
          <table cellspacing="0" class="table table-striped table-bordered dataTable">
            <thead class="text-primary">
              <tr>
                <th>Mês</th>
                <th>Funcionário</th>
                <th>Aluno</th>
                <th>Dependente</th>
                <th>Serviço Prestado</th>
                <th>Comunidade</th>
                <th>Soma</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dado of relatorioAnual">
                <td>{{ dado.mes }}</td>
                <td>{{ dado.funcionario }}</td>
                <td>{{ dado.aluno }}</td>
                <td>{{ dado.dependente }}</td>
                <td>{{ dado.servico_prestado }}</td>
                <td>{{ dado.comunidade }}</td>
                <td>{{ dado.soma }}</td>
              </tr>
              <tr>
                <td><strong>TOTAL</strong></td>
                <td>{{ totalAtendimentoFuncionario }}</td>
                <td>{{ totalAtendimentoAluno }}</td>
                <td>{{ totalAtendimentoDependente }}</td>
                <td>{{ totalAtendimentoServicoPrestado }}</td>
                <td>{{ totalAtendimentoComunidade }}</td>
                <td>{{ totalAtendimentos }}</td>
              </tr>
            </tbody>
          </table>
          <div class="row" [hidden]="relatorioAnual.length == 0">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header ">
                  <h5 class="card-title">Total de Atendimentos {{ totalAtendimentos }}</h5>
                  <!-- <p class="card-category">Total de atendimentos</p> -->
                </div>
                <div class="card-body ">
                  <canvas id="relatorioAnualPizza"></canvas>
                </div>
                <div class="card-footer ">
                  <div class="legend">
                    <i class="fa fa-circle text-warning"></i> Funcionário <br>
                    <i class="fa fa-circle text-info"></i> Aluno <br>
                    <i class="fa fa-circle text-danger"></i> Dependente <br>
                    <i class="fa fa-circle text-success"></i> Serviço Prestado <br>
                    <i class="fa fa-circle text-secondary"></i> Comunidade
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card card-chart">
                <div class="card-header">
                  <h5 class="card-title">Frequência de Atendimento</h5>
                </div>
                <div class="card-body">
                  <canvas id="relatorioAnualLine" width="400" height="150"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-header">
          <p class="card-category">Relatório Bimestral</p>
        </div>
        <div class="table">
          <table cellspacing="0" class="table table-striped table-bordered dataTable">
            <thead class="text-primary">
              <tr>
                <th>Bimestre</th>
                <th>Funcionário</th>
                <th>Aluno</th>
                <th>Dependente</th>
                <th>Serviço Prestado</th>
                <th>Comunidade</th>
                <th>Soma</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dado of relatorioBimestral">
                <td>{{ dado.bimestre }} °</td>
                <td>{{ dado.funcionario }}</td>
                <td>{{ dado.aluno }}</td>
                <td>{{ dado.dependente }}</td>
                <td>{{ dado.servico_prestado }}</td>
                <td>{{ dado.comunidade }}</td>
                <td>{{ dado.soma }}</td>
              </tr>
              <tr>
                <td><strong>TOTAL</strong></td>
                <td>{{ totalAtendimentoFuncionario }}</td>
                <td>{{ totalAtendimentoAluno }}</td>
                <td>{{ totalAtendimentoDependente }}</td>
                <td>{{ totalAtendimentoServicoPrestado }}</td>
                <td>{{ totalAtendimentoComunidade }}</td>
                <td>{{ totalAtendimentos }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>