<ngx-smart-modal #pacienteModal identifier="pacienteModal" customClass="medium-modal" [dismissable]="false"
  (onCloseFinished)="eraseForm()">
  <div class="">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Novo Paciente</h5>
      </div>
      <div class="card-body">
        <form #pacienteForm="ngForm" (ngSubmit)="isNewPaciente ? save() : update()">
          <h6 class="card-title text-secondary">Dados Pessoais</h6>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control uppercase" required minlength="5" maxlength="80"
                  [(ngModel)]="form.nome" name="nome" #nome="ngModel">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="cpf_rg">CPF/RG</label>
                <input type="text" class="form-control" mask="000.000.000-009-9" required [(ngModel)]="form.cpf_rg"
                  name="cpf_rg" #cpf_rg="ngModel">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="estado_civil">Estado Civil</label>
                <ng-select [multiple]="false" [(ngModel)]="form.estado_civil" required name="estado_civil"
                  #estado_civil="ngModel">
                  <ng-option *ngFor="let ec of _estado_civil" [value]="ec">{{ ec }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Telefone/Celular</label>
                <input type="text" class="form-control" [(ngModel)]="form.telefone_celular" required
                  name="telefone_celular" #telefone_celular="ngModel" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="sexo">Sexo</label>
                <ng-select [multiple]="false" [(ngModel)]="form.sexo" required name="sexo" #sexo="ngModel">
                  <ng-option *ngFor="let sexo of _sexo" [value]="sexo">{{ sexo }}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="tipo">Tipo de Paciente</label>
                <ng-select [multiple]="false" [(ngModel)]="form.tipo" required name="tipo" #tipo="ngModel">
                  <ng-option *ngFor="let tp of _tipo_paciente" [value]="tp">{{ tp }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" *ngIf="form.tipo == 'Aluno'  || form.tipo == 'Funcionário'">
              <div class="form-group">
                <label for="matricula">Matrícula</label>
                <input type="text" class="form-control" [(ngModel)]="form.matricula" name="matricula"
                  #matricula="ngModel" />
              </div>
            </div>
            <div class="col-md-8" *ngIf="form.tipo == 'Aluno'">
              <div class="form-group">
                <label for="curso">Curso</label>
                <input type="text" class="form-control" [(ngModel)]="form.curso" required name="curso"
                  #curso="ngModel" />
              </div>
            </div>
            <div class="col-md-8" *ngIf="form.tipo == 'Funcionário'">
              <div class="form-group">
                <label for="setor">Setor</label>
                <input type="text" class="form-control" [(ngModel)]="form.setor" required name="setor"
                  #setor="ngModel" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Estado de naturalidade</label>
                <input type="text" class="form-control" name="estado_naturalidade"
                  [(ngModel)]="form.estado_naturalidade" required #estado_naturalidade="ngModel">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Cidade de naturalidade</label>
                <input type="text" class="form-control" name="cidade_naturalidade"
                  [(ngModel)]="form.cidade_naturalidade" required #cidade_naturalidade="ngModel">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Data de Nascimento</label>
                <input type="date" class="form-control" required [(ngModel)]="form.data_nascimento"
                  name="data_nascimento" #data_nascimento="ngModel">
              </div>
            </div>
          </div>

          <h6 class="card-title text-secondary">Endereço</h6>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>CEP</label>
                <input type="text" class="form-control" (change)="getEnderecoViaCep($event, form.cep)" required
                  [(ngModel)]="form.cep" name="cep" #cep="ngModel">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Estado</label>
                <input type="text" class="form-control" required [(ngModel)]="form.estado" name="estado"
                  #estado="ngModel">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Cidade</label>
                <input type="text" class="form-control" required [(ngModel)]="form.cidade" name="cidade"
                  #cidade="ngModel">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label>Bairro</label>
                <input type="text" class="form-control" required [(ngModel)]="form.bairro" name="bairro"
                  #bairro="ngModel">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Logradouro</label>
                <input type="text" class="form-control" required [(ngModel)]="form.logradouro" name="logradouro"
                  #logradouro="ngModel">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Número</label>
                <input type="text" class="form-control" required [(ngModel)]="form.numero" name="numero"
                  #numero="ngModel">
              </div>
            </div>
          </div>

          <h6 class="card-title text-secondary">Contato</h6>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="nome_contato">Nome</label>
                <input class="form-control uppercase" required name="nome_contato" [(ngModel)]="form.nome_contato"
                  #nome_contato="ngModel" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="numero_contato">Contato</label>
                <input class="form-control" required name="numero_contato" [(ngModel)]="form.numero_contato"
                  #numero_contato="ngModel" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Observações</label>
                <textarea class="form-control textarea" name="observacao" [(ngModel)]="form.observacao"
                  #observacao="ngModel"></textarea>
              </div>
            </div>
          </div>
          <div class="btn btn-default" (click)="close()">Cancelar</div>
          <button class="btn btn-info pull-right" [disabled]="pacienteForm.form.invalid">Salvar</button>
        </form>
      </div>
    </div>
  </div>

</ngx-smart-modal>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left">
          Pacientes
        </h4>
        <button class="btn btn-info btn-round pull-right" type="submit"
          (click)="ngxSmartModalService.getModal('pacienteModal').open()">
          Novo
        </button>
      </div>
      <div class="card-body">
        <div class="table">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" cellspacing="0"
            class="table table-striped table-bordered dataTable">
            <thead class="text-primary">
              <tr>
                <th>Nome</th>
                <th>CPF/RG</th>
                <th>Tipo</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paciente of pacientes">
                <td>{{ paciente.nome }}</td>
                <td>{{ paciente.cpf_rg }}</td>
                <td>{{ paciente.tipo }}</td>
                <td class="text-right">
                  <button class="btn btn-warning btn-icon btn-sm " type="button" title="Editar"
                    (click)="openFormEdit(paciente.id)">
                    <i class="fa fa-edit fa-2x"></i>
                  </button>
                  <button class="btn btn-danger btn-icon btn-sm " type="button" title="Excluir">
                    <i class="fa fa-times fa-2x"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
