
<div class="row">
    <div class="card-body">
        <div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Novo Paciente</h5>
              </div>
              <div class="card-body">
                <form #pacienteForm = "ngForm"  (ngSubmit)="postPaciente(form)">
                  <!-- {{ nome.errors | json }} -->
                  <h6 class="card-title text-secondary">Dados Pessoais</h6>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group" [ngClass]="(nome.invalid && nome.touched) ? 'has-danger' : 'has-success'">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" 
                        required
                        minlength="5"
                        maxlength="80" 
                        [(ngModel)] = "form.nome"
                        name="nome"
                        #nome="ngModel">
                        <div *ngIf="nome.errors && (nome.dirty || nome.touched)">
                          <div class="text-danger" role="alert" *ngIf="nome.errors.required">
                            O campo nome é obrigatório!
                          </div>
                          <div class="text-danger" role="alert" *ngIf="nome.errors.minlength">
                              O nome deve contar no mínimo 5 caracteres
                            </div>
                        </div>
                      </div> 
                    </div>
                    <div class="col-md-3">
                      <div class="form-group" [ngClass]="(cpf_rg.invalid && !cpf_rg.untouched) ? 'has-danger' : ''">
                        <label for="cpf_rg">CPF/RG</label>
                        <input type="text" class="form-control"
                        required
                        [(ngModel)] = "form.cpf_rg"
                        name="cpf_rg"
                        #cpf_rg="ngModel">
                        <div class="text-danger" role="alert" [hidden] = "cpf_rg.valid || cpf_rg.untouched">
                          Campo CPF/RG obrigatório!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <!-- {{form.estado_civil}} -->
                      <div class="form-group">
                        <label for="estado_civil">Estado Civil</label>
                        <ng-select [multiple]="false" 
                        [(ngModel)]="form.estado_civil" 
                        required
                        name="estado_civil"
                        #estado_civil="ngModel">
                          <ng-option *ngFor="let ec of _estado_civil" [value]="ec">{{ ec }}</ng-option>
                        </ng-select>
                        <div class="text-danger" role="alert" [hidden] = "estado_civil.valid || estado_civil.untouched">
                            Campo obrigatório!
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4" >
                        <div class="form-group" [ngClass]="(telefone_celular.invalid && !telefone_celular.untouched) ? 'has-danger' : ''">
                          <label for="">Telefone/Celular</label>
                          <input type="text" class="form-control"
                          [(ngModel)] = "form.telefone_celular"
                          required
                          name="telefone_celular"
                          #telefone_celular="ngModel"/>
                          <div class="text-danger" role="alert" [hidden] = "telefone_celular.valid || telefone_celular.untouched">
                              Telefone/Celular obrigatório!
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="sexo">Sexo</label>
                        <ng-select [multiple]="false" 
                        [(ngModel)]="form.sexo" 
                        required
                        name="sexo"
                        #sexo="ngModel">
                          <ng-option *ngFor="let sexo of _sexo" [value]="sexo">{{ sexo }}</ng-option>
                        </ng-select>
                          <div class="text-danger" role="alert" [hidden] = "sexo.valid || sexo.untouched">
                              Campo obrigatório!
                          </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="tipo_paciente">Tipo de Paciente</label>
                          <ng-select [multiple]="false" 
                          [(ngModel)]="form.tipo_paciente" 
                          required
                          name="tipo_paciente"
                          #tipo_paciente="ngModel">
                            <ng-option *ngFor="let tp of _tipo_paciente" [value]="tp">{{ tp }}</ng-option>
                          </ng-select>
                          <div class="text-danger" role="alert" [hidden] = "tipo_paciente.valid || tipo_paciente.untouched">
                              Campo obrigatório!
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4" *ngIf= "form.tipo_paciente == 'Aluno'  || form.tipo_paciente == 'Funcionário'">
                        <div class="form-group" [ngClass]="(matricula.invalid && !matricula.untouched) ? 'has-danger' : ''">
                          <label for="matricula">Matrícula</label>
                          <input type="text" class="form-control"
                          [(ngModel)] = "form.matricula"
                          required
                          name="matricula"
                          #matricula="ngModel"/>
                          <div class="text-danger" role="alert" [hidden] = "matricula.valid || matricula.untouched">
                              Campo obrigatório!
                          </div>
                        </div>
                    </div>
                    <div class="col-md-8" *ngIf= "form.tipo_paciente == 'Aluno'">
                      <div class="form-group" [ngClass]="(curso.invalid && !curso.untouched) ? 'has-danger' : ''">
                        <label for="curso">Curso</label>
                        <input type="text" class="form-control"
                        [(ngModel)] = "form.curso"
                        required
                        name="curso"
                        #curso = "ngModel"/>
                         <div class="text-danger" role="alert" [hidden] = "curso.valid || curso.untouched">
                          Campo obrigatório!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8" *ngIf= "form.tipo_paciente == 'Funcionário'">
                        <div class="form-group">
                          <label for="setor">Setor</label>
                          <input type="text" class="form-control" 
                          [(ngModel)] ="form.setor"
                          required
                          name="setor"
                          #setor = "ngModel"/>
                          <div class="text-danger" role="alert" [hidden] = "setor.valid || setor.untouched">
                            Campo obrigatório!
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group" [ngClass]="(estado_naturalidade.invalid && estado_naturalidade.touched) ? 'has-danger' : 'has-success'">
                        <label>Estado de naturalidade</label>
                        <input type="text" class="form-control"
                        name="estado_naturalidade"
                        [(ngModel)] = "form.estado_naturalidade"
                        required
                        #estado_naturalidade = "ngModel">
                        <div class="text-danger" role="alert" [hidden] = "estado_naturalidade.valid || estado_naturalidade.untouched">
                          Campo obrigatório!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" [ngClass]="(cidade_naturalidade.invalid && cidade_naturalidade.touched) ? 'has-danger' : 'has-success'">
                        <label>Cidade de naturalidade</label>
                        <input  type="text" class="form-control"
                        name="cidade_naturalidade"
                        [(ngModel)] = "form.cidade_naturalidade"
                        required
                        #cidade_naturalidade = "ngModel">
                        <div class="text-danger" role="alert" [hidden] = "cidade_naturalidade.valid || cidade_naturalidade.untouched">
                          Campo obrigatório!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                          <label>Data de Nascimento</label>
                          <input  type="date" class="form-control"
                          required
                          [(ngModel)] = "form.data_nascimento"
                          name = "data_nascimento"
                          #data_nascimento = "ngModel">
                          <div class="text-danger" role="alert" [hidden] = "data_nascimento.valid || data_nascimento.untouched">
                            Campo obrigatório!
                          </div>
                        </div>
                      </div>
                  </div>

                  <h6 class="card-title text-secondary">Endereço</h6>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group" [ngClass]="(cep.invalid && cep.touched) ? 'has-danger' : 'has-success'">
                        <label>CEP</label>
                        <input type="text" class="form-control"
                        required
                        [(ngModel)] = "form.cep"
                        name = "cep"
                        #cep = "ngModel">
                        <div class="text-danger" role="alert" [hidden] = "cep.valid || cep.untouched">
                          Campo obrigatório!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" [ngClass]="(estado.invalid && estado.touched) ? 'has-danger' : 'has-success'">
                        <label>Estado</label>
                        <input type="text" class="form-control"
                        required
                        [(ngModel)] = "form.estado"
                        name = "estado"
                        #estado = "ngModel">
                        <div class="text-danger" role="alert" [hidden] = "estado.valid || estado.untouched">
                          Campo obrigatório!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" [ngClass]="(cidade.invalid && cidade.touched) ? 'has-danger' : 'has-success'">
                        <label>Cidade</label>
                        <input type="text" class="form-control"
                        required
                        [(ngModel)] = "form.cidade"
                        name = "cidade"
                        #cidade = "ngModel">
                        <div class="text-danger" role="alert" [hidden] = "cidade.valid || cidade.untouched">
                          Campo obrigatório!
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group" [ngClass]="(bairro.invalid && bairro.touched) ? 'has-danger' : 'has-success'">
                        <label>Bairro</label>
                        <input type="text" class="form-control"
                        required
                        [(ngModel)] = "form.bairro"
                        name = "bairro"
                        #bairro = "ngModel">
                        <div class="text-danger" role="alert" [hidden] = "bairro.valid || bairro.untouched">
                          Campo obrigatório!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group" [ngClass]="(logradouro.invalid && logradouro.touched) ? 'has-danger' : 'has-success'">
                        <label>Logradouro</label>
                        <input type="text" class="form-control"
                        required
                        [(ngModel)] = "form.Logradouro"
                        name = "logradouro"
                        #logradouro = "ngModel">
                        <div class="text-danger" role="alert" [hidden] = "logradouro.valid || logradouro.untouched">
                          Campo obrigatório!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group" [ngClass]="(numero.invalid && numero.touched) ? 'has-danger' : 'has-success'">
                        <label>Número</label>
                        <input type="text" class="form-control"
                        required
                        [(ngModel)] = "form.numero"
                        name="numero"
                        #numero = "ngModel">
                        <div class="text-danger" role="alert" [hidden] = "numero.valid || numero.untouched">
                          Campo obrigatório!
                        </div>
                      </div>
                    </div>
                  </div>

                  <h6 class="card-title text-secondary">Contato</h6>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="nome_contato">Nome</label>
                        <input class="form-control"
                        name="nome_contato"
                        [(ngModel)] = "form.nome_contato"
                        #nome_contato = "ngModel"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="numero_contato">Contato</label>
                          <input class="form-control"
                          name="numero_contato"
                          [(ngModel)] ="form.numero_contato"
                          #numero_contato = "ngModel"/>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label>Observações</label>
                          <textarea class="form-control textarea"></textarea>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round"
                      [disabled] = "!pacienteForm.form.valid">Cadastrar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
</div>
