
<div class="row">
    <div class="card-body">
        <div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Novo Paciente</h5>
              </div>
              <div class="card-body">
                <form #pacienteForm = "ngForm"  (ngSubmit)="onSubmit()">
                  {{ nome.errors | json }}
                  <h6 class="card-title text-secondary">Dados Pessoais</h6>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group" [ngClass]="(nome.invalid && nome.touched) ? 'has-danger' : 'has-success'">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" 
                        required
                        minlength="5"
                        maxlength="80" 
                        [(ngModel)] = "form.nome"
                        name="nome"
                        #nome="ngModel">
                        <div *ngIf="nome.errors && (nome.dirty || nome.touched)">
                          <div class="text-danger" role="alert" *ngIf="nome.errors.required">
                            O campo nome é obrigatório!
                          </div>
                          <div class="text-danger" role="alert" *ngIf="nome.errors.minlength">
                              O nome deve contar no mínimo 5 caracteres
                            </div>
                        </div>
                      </div> 
                    </div>
                    <div class="col-md-3 px-1">
                      <div class="form-group" [ngClass]="(cpf_rg.invalid && !cpf_rg.untouched) ? 'has-danger' : ''">
                        <label for="cpf_rg">CPF/RG</label>
                        <input type="text" class="form-control"
                        required
                        [(ngModel)] = "form.cpf_rg"
                        name="cpf_rg"
                        #cpf_rg="ngModel">
                        <div class="text-danger" role="alert" [hidden] = "cpf_rg.valid || cpf_rg.untouched">
                          Campo CPF/RG obrigatório!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group" [ngClass]="(estado_civil.invalid && !estado_civil.untouched) ? 'has-danger' : ''">
                        <label for="estado_civil">Estado Civil</label>
                        <select  class="form-control" 
                        [(ngModel)] = "form.estado_civil"
                        required
                        name="estado_civil"
                        #estado_civil="ngModel">
                          <option></option>
                            <option *ngFor="let ec of _estado_civil" [value] ="ec" >{{ec}}</option>
                        </select>
                        <div class="text-danger" role="alert" [hidden] = "estado_civil.valid || estado_civil.untouched">
                            Campo obrigatório!
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-1" >
                        <div class="form-group" [ngClass]="(telefone_celular.invalid && !telefone_celular.untouched) ? 'has-danger' : ''">
                          <label for="">Telefone/Celular</label>
                          <input type="text" class="form-control"
                          [(ngModel)] = "form.telefone_celular"
                          required
                          name="telefone_celular"
                          #telefone_celular="ngModel"/>
                          <div class="text-danger" role="alert" [hidden] = "telefone_celular.valid || telefone_celular.untouched">
                              Telefone/Celular obrigatório!
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group" [ngClass]="(sexo.invalid && !sexo.untouched) ? 'has-danger' : ''">
                        <label for="sexo">Sexo</label>
                        <select  class="form-control"
                        [(ngModel)] = "form.sexo"
                        required
                        name="sexo"
                        #sexo="ngModel">
                          <option></option>
                            <option *ngFor="let se of _sexo" [value] = "se">{{se}}</option>
                          </select>
                          <div class="text-danger" role="alert" [hidden] = "sexo.valid || sexo.untouched">
                              Campo obrigatório!
                          </div>
                      </div>
                    </div>
                    <div class="col-md-4 pr-1">
                      <div class="form-group" [ngClass]="(tipo_paciente.invalid && !tipo_paciente.untouched) ? 'has-danger' : ''">
                          <label for="tipo_paciente">Tipo de Paciente</label>
                          <select  class="form-control"
                          [(ngModel)] = "form.tipo_paciente"
                          required
                          name="tipo_paciente"
                          #tipo_paciente="ngModel">
                            <option></option>
                              <option *ngFor="let tp of _tipo_paciente" [value] = "tp">{{tp}}</option>
                          </select>
                          <div class="text-danger" role="alert" [hidden] = "tipo_paciente.valid || tipo_paciente.untouched">
                              Campo obrigatório!
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-1" *ngIf= "form.tipo_paciente == 'Aluno'  || form.tipo_paciente == 'Funcionário'">
                        <div class="form-group" [ngClass]="(matricula.invalid && !matricula.untouched) ? 'has-danger' : ''">
                          <label for="matricula">Matrícula</label>
                          <input type="text" class="form-control"
                          [(ngModel)] = "form.matricula"
                          required
                          name="matricula"
                          #matricula="ngModel"/>
                          <div class="text-danger" role="alert" [hidden] = "matricula.valid || matricula.untouched">
                              Campo obrigatório!
                          </div>
                        </div>
                    </div>
                    <div class="col-md-8 pr-1" *ngIf= "form.tipo_paciente == 'Aluno'">
                      <div class="form-group" [ngClass]="(curso.invalid && !curso.untouched) ? 'has-danger' : ''">
                        <label for="curso">Curso</label>
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-8 pr-1" *ngIf= "form.tipo_paciente == 'Funcionário'">
                        <div class="form-group">
                          <label for="setor">Setor</label>
                          <input type="text" class="form-control" />
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Estado de naturalidade</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Cidade de naturalidade</label>
                        <input  type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                          <label>Data de Nascimento</label>
                          <input  type="date" class="form-control">
                        </div>
                      </div>
                  </div>

                  <h6 class="card-title text-secondary">Endereço</h6>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>CEP</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Estado</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Bairro</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-5 px-1">
                      <div class="form-group">
                        <label>Logradouro</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label>Número</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>

                  <h6 class="card-title text-secondary">Contato</h6>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Nome</label>
                        <input class="form-control"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <label>Contato</label>
                          <input class="form-control"/>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label>Observações</label>
                          <textarea class="form-control textarea"> Loren ipsum dolor sit ameb, esta é uma observação </textarea>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" [disabled] = "!pacienteForm.form.valid" class="btn btn-primary btn-round">Cadastrar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
</div>
