<ngx-smart-modal #resetPasswordModal identifier="resetPasswordModal" [dismissable]="false"
  (onCloseFinished)="eraseForm()">
  <div class="card-body">
    <h5 class="card-title">Resetar senha?</h5>
    <div class="card-body">
      <p>Deseja realmente resetar a senha do {{ form.perfil }} {{ form.name }} ?</p>
    </div>
    <div class="btn btn-default" (click)="closeResetPassword()">Cancelar</div>
    <button class="btn btn-info pull-right" (click)="resetPassword()">Resetar</button>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #usuarioModal identifier="usuarioModal" [backdrop]="true" customClass="medium-modal"
  [dismissable]="false" (onCloseFinished)="eraseForm()">
  <div class="card-body">
    <form #usuarioForm="ngForm" (ngSubmit)="isNewUsuario? save() : update()">
      <h5 class="card-title" *ngIf="!form.id">Novo Usuário</h5>
      <h5 class="card-title" *ngIf="form.id">Editar Usuário</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Nome</label>
            <input class="form-control uppercase" required [(ngModel)]="form.name" name="name" #name="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" required [(ngModel)]="form.email" name="email" #email="ngModel">
          </div>
        </div>
      </div>
      <div class="row">
        <div [ngClass]="(form.perfil_id == 3 || form.perfil_id == 4) ? 'col-md-4' : 'col-md-6'">
          <div class="form-group">
            <label for="descricao">CPF</label>
            <input type="text" mask="000.000.000-00" class="form-control" [(ngModel)]="form.cpf" name="cpf"
              #cpf="ngModel">
          </div>
        </div>
        <div [ngClass]="(form.perfil_id == 3 || form.perfil_id == 4) ? 'col-md-4' : 'col-md-6'">
          <div class="form-group">
            <label for="perfil_id">Perfil</label>
            <ng-select (change)="eraseField(form.perfil_id)" [multiple]="false" [(ngModel)]="form.perfil_id" required
              name="perfil_id" #perfil_id="ngModel">
              <ng-option *ngFor="let perfil of _perfis" [value]="perfil.id">{{ perfil.nome }}</ng-option>
            </ng-select>
          </div>
        </div>
        <div [ngClass]="(form.perfil_id == 3 || form.perfil_id == 4) ? 'col-md-4' : 'col-md-6'"
          *ngIf="form.perfil_id == 4">
          <div class="form-group">
            <label for="crm">CRM</label>
            <input type="text" class="form-control uppercase" required mask="9999999999/SS" [(ngModel)]="form.crm"
              name="crm" #crm="ngModel" [dropSpecialCharacters]="false">
          </div>
        </div>
        <div [ngClass]="(form.perfil_id == 3 || form.perfil_id == 4) ? 'col-md-4' : 'col-md-6'"
          *ngIf="form.perfil_id == 3">
          <div class="form-group">
            <label for="coren">COREN</label>
            <input type="text" class="form-control uppercase" required mask="9999999999/SS" [(ngModel)]="form.coren"
              name="coren" #coren="ngModel" [dropSpecialCharacters]="false">
          </div>
        </div>
      </div>
      <br />
      <div class="btn btn-default" (click)="close()">Cancelar</div>
      <button class="btn btn-info pull-right" [disabled]="usuarioForm.form.invalid">Salvar</button>
    </form>
  </div>
</ngx-smart-modal>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left">
          Usuários
        </h4>
        <button class="btn btn-info btn-round pull-right" type="submit"
          (click)="ngxSmartModalService.getModal('usuarioModal').open()">
          Novo
        </button>
      </div>
      <div class="card-body">
        <div class="table">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" cellspacing="0"
            class="table table-striped table-bordered dataTable">
            <thead class="text-primary">
              <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Perfil</th>
                <th>ativo</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usuarios">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.perfil }}</td>
                <td>{{ user.ativo ? 'Sim' : 'Não' }}</td>
                <td class="text-right">
                  <button class="btn btn-warning btn-icon btn-sm " type="button" title="Editar"
                    (click)="openFormEdit(user.id)">
                    <i class="fa fa-edit fa-2x"></i>
                  </button>
                  <button class="btn btn-info btn-icon btn-sm " type="button" title="Resetar senha"
                    (click)="openFormresetPassword(user.id)">
                    <i class="fa fa-refresh fa-2x"></i>
                  </button>
                  <button class="btn btn-danger btn-icon btn-sm " type="button" title="Excluir">
                    <i class="fa fa-times fa-2x"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
