.navbar.navbar-transparent a:not(.dropdown-item):not(.btn) {
    color: white;
  }
  .navbar.navbar-transparent{
    border-bottom: none;
  }

  .input-group-prepend .input-group-text{
    border-right: unset;
  }

  .input-group-append .input-group-text, .input-group-prepend .input-group-text{
    background-color: transparent;
    border: 1px solid #E3E3E3;
    color: #66615B;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding-right: 10px;
  }

  .navbar .navbar-wrapper{
    padding-left: 10px;
  }

  .form-control:focus {
    border-left: 1px solid #9A9A9A!important;
  }

  .wrapper.wrapper-full-page {
    height: 100%;
  }

  @media screen and (min-width: 1280px){
    .navbar .navbar-wrapper{
      margin-left: -5em;
    }
  }

  @media screen and (min-width: 1350px){
    .navbar .navbar-wrapper{
      margin-left: -8em;
    }
  }

  @media screen and (min-width: 1600px){
    .navbar .navbar-wrapper{
      margin-left: -15em;
    }
  }

  @media screen and (min-width: 1900px){
    .navbar .navbar-wrapper{
      margin-left: -25em;
    }
  }

  .logo-sismed{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }

  .spinner-border-reset {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    vertical-align: text-bottom;
    border: 0.15em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
    margin-bottom: .1em;
}

.col-md-6 {
  padding-right: 5px;
  padding-left: 5px;
}

.col-md-12 {
  padding-right: 5px;
  padding-left: 5px;
}

/* Para tela de Area do Paciente*/
.table.dataTable thead th, table.dataTable thead td {
  padding: 5px;
  font-size: smaller;
}
