<ngx-smart-modal #resetPasswordModal identifier="resetPasswordModal" customClass="small-modal" [dismissable]="false"
  (onCloseFinished)="eraseForm()">
  <div class="card-body">
    <form #resetPasswordForm="ngForm" (ngSubmit)="canResetPassword ? reset() : verify()">
      <h5 class="card-title">Redefinir Senha
        <div class="spinner-border-reset" role="status" *ngIf="resetLoading">
          <span class="sr-only">Loading...</span>
        </div>
      </h5>
      <div class="row" *ngIf="!canResetPassword">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" required [(ngModel)]="formResetPassword.email" name="email"
              #email="ngModel">
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!canResetPassword">
        <div class="col-md-12">
          <div class="form-group">
            <label for="descricao">CPF</label>
            <input type="text" mask="000.000.000-00" required class="form-control" [(ngModel)]="formResetPassword.cpf"
              name="cpf" #cpf="ngModel">
          </div>
        </div>
      </div>
      <div class="row" *ngIf="canResetPassword">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password">Nova senha</label>
            <input type="password" required class="form-control" [(ngModel)]="formResetPassword.password"
              name="password" #password="ngModel">
          </div>
        </div>
      </div>
      <br />
      <div class="btn btn-default" (click)="close()">Cancelar</div>
      <button class="btn btn-info pull-right" [disabled]="resetPasswordForm.form.invalid">Enviar</button>
    </form>
  </div>
</ngx-smart-modal>
<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-wrapper">
      <a class="navbar-brand" routerlinkactive="active" href="#/login">POSTO MÉDICO UEMA</a>
    </div>
  </div>
</nav>
<div class="wrapper wrapper-full-page ">
  <div class="full-page section-image" data-image="./assets/img/bg/fabio-mangione.jpg" filter-color="black">
    <div class="content">
      <div class="container">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <form action="" class="form ng-untouched ng-pristine ng-valid" #loginForm="ngForm" (ngSubmit)="login()"
            novalidate="">
            <div class="card card-login">
              <div class="card-header ">
                <div class="card-header ">
                  <!-- <h3 class="header text-center">SisMED</h3> -->
                  <img class="logo-sismed" src="./assets/img/logo-postomedico.png" />
                </div>
              </div>
              <div class="card-body ">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-single-02"></i>
                    </span>
                  </div>
                  <input class="form-control" placeholder="CPF" mask="000.000.000-00" type="text" name="cpf" required
                    [(ngModel)]="form.cpf" #cpf="ngModel" autofocus="true">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                  </div>
                  <input class="form-control" placeholder="Senha" type="password" name="password" required
                    [(ngModel)]="form.password" #senha="ngModel">
                </div>
                <br>
              </div>
              <div class="card-footer ">
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-warning btn-round btn-block mb-3" type="submit"
                      [disabled]="loginForm.invalid || loginLoading">
                      Entrar
                      <span *ngIf="loginLoading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" (click)="ngxSmartModalService.getModal('resetPasswordModal').open()"
                      class="btn btn-primary btn-round btn-block mb-3">
                      <i class="fa fa-unlock-alt"></i> Senha
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="full-page-background" style="background-image: url('assets/img/uema-login.jpg') "></div>
  </div>
</div>
