<ngx-smart-modal #exameFisicoModal identifier="exameFisicoModal" customClass="medium-modal" [dismissable]="false"
  (onCloseFinished)="eraseForm()">
  <div class="card-body">
    <form #exameForm="ngForm" (ngSubmit)="isNewExame ? save() : update()">
      <h5 class="card-title">Exame Físico</h5>
      <p><strong>PACIENTE: </strong> {{form.nome | uppercase}}</p>
      <p *ngIf="form.id"><strong>ENFERMEIRO: </strong> {{form.enfermeiro | uppercase}} às {{ form.created_at | date: 'hh:mm:ss' }}</p>
      <div class="row" [hidden]="isNewExame">
        <div class="col-md-4">
          <div class="form-group">
            <label>Exames Realizados</label>
            <ng-select [clearable]="false" [multiple]="false" [(ngModel)]="form.data_exame" name="data_exame"
              #data_exame="ngModel" (change)="changeDate()">
              <ng-option *ngFor="let data of _data_exames" [value]="data">{{ data | date: 'dd/MM/yyyy'}}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="data">Data do atendimento</label>
            <input type="date" class="form-control" required [(ngModel)]="form.data" name="data" #data="ngModel">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="pressao">Pressão Arterial</label>
            <input type="text" class="form-control" required [(ngModel)]="form.pressao" name="pressao"
              #pressao="ngModel" [specialCharacters]="[ '/' ]" suffix=" mmHg" mask="00/09">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="pressao">Altura</label>
            <input type="text" class="form-control" required [(ngModel)]="form.altura" name="altura" #altura="ngModel"
              suffix=" cm" mask="000">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pressao">Peso</label>
            <input type="text" class="form-control" required [(ngModel)]="form.peso" name="peso" #peso="ngModel"
              suffix=" Kg" mask="009">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="pressao">Glicemia</label>
            <input type="text" class="form-control" required [(ngModel)]="form.glicemia" name="glicemia"
              #glicemia="ngModel" suffix=" mg/dL" mask="009">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="pressao">Temperatura</label>
            <input type="text" class="form-control" required [(ngModel)]="form.temperatura" name="temperatura"
              #temperatura="ngModel" suffix=" °C" mask="00">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="pressao">Frequência Cardíaca</label>
            <input type="text" class="form-control" required [(ngModel)]="form.frequencia_cardiaca"
              name="frequencia_cardiaca" #frequencia_cardiaca="ngModel" suffix=" bpm" mask="009">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="pressao">Frequência Respiratória</label>
            <input type="text" class="form-control" required [(ngModel)]="form.frequencia_respiratoria"
              name="frequencia_respiratoria" #frequencia_respiratoria="ngModel" suffix=" rpm" mask="009">
          </div>
        </div>
      </div>
      <br />
      <div class="btn btn-default" (click)="close()">Cancelar</div>
      <button class="btn btn-info pull-right" [disabled]="exameForm.form.invalid">Salvar</button>
    </form>
  </div>
</ngx-smart-modal>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left">
          Pacientes
        </h4>
        <!-- <p class="category">Created using Montserrat Font Family</p> -->
      </div>
      <div class="card-body">
        <div class="table">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" cellspacing="0"
            class="table table-striped table-bordered dataTable">
            <thead class="text-primary">
              <tr>
                <th>Nome</th>
                <th>CPF/RG</th>
                <th>Tipo</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paciente of pacientes">
                <td>{{ paciente.nome }}</td>
                <td>{{ paciente.cpf_rg }}</td>
                <td>{{ paciente.tipo }}</td>
                <td class="text-right">
                  <button class="btn btn-info btn-icon btn-sm" type="button" title="Novo Exame"
                    (click)="openFormNew(paciente.id, paciente.nome)">
                    <i class="fa fa-plus-square fa-2x"></i>
                  </button>
                  <button class="btn btn-warning btn-icon btn-sm " type="button" title="Editar"
                    (click)="openFormEdit(paciente.id, paciente.nome)" *ngIf="paciente.hasExame">
                    <i class="fa fa-edit fa-2x"></i>
                  </button>
                  <button class="btn btn-danger btn-icon btn-sm " type="button" title="Excluir">
                    <i class="fa fa-times fa-2x"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
