<div class="sidebar-wrapper">
  <div class="logo row">
    <div class="col-md-3">
      <a [routerLink]="['/inicio']" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/img/brasao-uema.png">
        </div>
      </a>
    </div>
    <div class="col-md-9">
      <a [routerLink]="['/inicio']" class="simple-text logo-normal">
        Posto Médico UEMA
      </a>
    </div>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems | filterMenu" routerLinkActive="active" class="{{menuItem.class}}">
      <a *ngIf="menuItem.path" [routerLink]="[menuItem.path]">
        <i *ngIf="menuItem.path" class="nc-icon {{menuItem.icon}}"></i>
        <p *ngIf="menuItem.path">{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>
