@import "~ngx-smart-modal/ngx-smart-modal";


/* datatables */
/* Estas classes torna o datatables responsivo e lindo  */
/* --------------------- INICIO ----------------------- */
@media only screen and (max-width: 600px) {
  table.dataTable thead th, table.dataTable thead td{
    font-size: 10px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button{
    font-size: 11px;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td{
    padding: unset!important;
  }
  div.dataTables_wrapper div.dataTables_info{
    font-size: 12px;
  }
  .paginate_button{
    text-transform: none!important;
  }
}
.table.dataTable thead th{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.sorting_asc, .sorting_desc {
  padding-left: 10px!important;
}

table.dataTable thead th, table.dataTable thead td{
  padding: unset;
}
table.dataTable thead>tr>td.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc{
padding-right: unset;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
  padding: unset;
}
/* --------------------- FIM -------------------------- */
.table-responsive {
  overflow: hidden!important;
}

table{ border-radius: 4px!important}

.dataTables_filter input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding-right: 0;
    padding-left: 0;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.paginate_button{
    border-radius: 50px!important;
    background: transparent !important;
    border: 0!important;
    text-transform: uppercase;
}

.current  {
    color: white!important;
    background-color: #51cbce!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    color:black!important;
    box-shadow: 0 2px 2px rgba(204,197,185,.5);
    padding: 0.2em 0.7em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color:white!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color: black!important;
}

.c-btn{border: 1px #e6e6e6 solid!important}

.text-primary, a.text-primary:focus, a.text-primary:hover {color:#343a40!important;}

.table.dataTable.no-footer{ border-bottom: 2px solid #dee2e6}

table.dataTable thead th, table.dataTable thead td{border-bottom: 1px solid #dee2e6!important}

.table>tbody>tr>td{ padding: 5px}

tbody{font-size: 12px}

/* form */
.pading-inside-checkbox { padding-left: 5px!important }
.has-danger .form-control {
    background-color: #ffc0a46b!important;
    border: 1px solid #ef815773!important;
}


/* modal */

.nsm-dialog{max-width: 860px;}
.small-modal {max-width: 520px;}

/* card */
.card{box-shadow: none}


/* demo icons */

.row ul li {
  width: 60%;
  float: left;
  padding: 16px 0;
  text-align: center;
  border-radius: .25em;
  transition: background .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.row ul li:hover {
  background: #f4f4f4;
}

.row ul li:hover {
  background: #f4f4f4;
}

.nc-icon {
  display: inline-block;
  font: normal normal normal 14px/1 nucleo-icons;
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.row .nc-icon{
  font-size:34px;
}

.row li p{font-size: 12px}


/* Slider Round Switch checkbox */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  height: 66%;
  width: 78%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #51cbce!important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #51cbce!important;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* TextArea */

textarea {
  margin: 0!important;
  font-family: inherit!important;
  font-size: inherit!important;
  line-height: inherit!important;
  overflow: auto!important;
  resize: vertical!important;
}

textarea.form-control {
  max-height: unset!important;
}

/* Modal Tela de Prontuário */

.modal-xl .nsm-content {
  width: auto!important;
  margin: 1.75rem 0rem 1.75rem -1.75rem!important;
}

/* Fix Form Tela de Prontuário */
.fix-row {
  margin-right: unset;
  margin-left: unset;
}


/* sidebar */
.sidebar .logo .simple-text, .off-canvas-sidebar .logo .simple-text {
  font-size: 0.9rem;
}

.sidebar .logo, .off-canvas-sidebar .logo {
  padding: 6px 0 0;
}

@media only screen and (max-width: 600px) {
  .sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-normal {
    padding: 11px 10px 8px;
  }
}

@media screen and (max-width: 991px){
  .navbar .container-fluid {
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px){
  .sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-normal {
    padding: 11px 10px 8px;
  }
}

.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
  padding-bottom: 0px;
}

@media screen and (max-height: 768px ){
  .sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
    padding: 7px 8px;
  }
}


/* Formularios */

.uppercase {
  text-transform: uppercase;
}

/* Scroolbar */

::-webkit-scrollbar {
  width: 5px;
  -webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
  transition: 3s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.38);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 136, 136, 0.6);
}

::-webkit-scrollbar:hover {
  width: 8px;
}
