<ngx-smart-modal #evolucaoModal identifier="evolucaoModal" customClass="medium-modal" [dismissable]="false"
  (onCloseFinished)="eraseForm()">
  <div class="card-body">
    <form #evolucaoForm="ngForm" (ngSubmit)="isNewEvolucao ? save() : update()">
      <h5 class="card-title">Evolução do Paciente</h5>
      <p><strong>PACIENTE: </strong> {{form.nome | uppercase}}</p>
      <p *ngIf="form.id"><strong>MÉDICO: </strong> {{form.medico | uppercase}} às
        {{ form.created_at | date: 'HH:mm:ss' }}</p>
      <div class="row" [hidden]="isNewEvolucao">
        <div class="col-md-4">
          <div class="form-group">
            <label>Evoluções Cadastradas</label>
            <ng-select [clearable]="false" [multiple]="false" [(ngModel)]="form.data_evolucao" name="data_evolucao"
              #data_evolucao="ngModel" (change)="changeDate()">
              <ng-option *ngFor="let data of _data_evolucoes" [value]="data">{{ data | date: 'dd/MM/yyyy' }}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="data">Data do atendimento</label>
            <input type="date" class="form-control" required [(ngModel)]="form.data" name="data" #data="ngModel">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" rows="8" required [(ngModel)]="form.descricao" name="descricao"
              #descricao="ngModel">{{descricao.value}}
            </textarea>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isNewEvolucao">
        <div class="col-md-4">
          <div class="form-group">
            <button class="btn btn-info" type="button" (click)="ngxSmartModalService.getModal('prescricao').open()">
              <fa-icon [icon]="faPills"></fa-icon> Prescrição Interna
            </button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="medicamentosEvolucao.length > 0">
        <div class="col-md-6">
          <label><h6>Prescrição Interna</h6></label>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let med of medicamentosEvolucao">
              {{ med.medicamento }}
              <span title="Quantidade" class="badge badge-primary">{{ med.quantidade }}</span>
            </li>
          </ul>
        </div>
      </div>
      <br />
      <div class="btn btn-default" (click)="close()">Cancelar</div>
      <button class="btn btn-info pull-right" [disabled]="evolucaoForm.form.invalid">Salvar</button>
    </form>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #prescricao identifier="prescricao" customClass="medium-modal">
  <div class="card-body">
    <h5 class="card-title">Prescrição Interna</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="medicamento">Medicamento</label>
          <ng-select [multiple]="false" required [(ngModel)]="form.medicamento" name="medicamento"
            #medicamento="ngModel">
            <ng-option *ngFor="let medicamento of _medicamentos" [value]="medicamento">
              {{ medicamento.nome }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="quantidade">Quantidade</label>
          <input type="text" required [(ngModel)]="form.quantidade" name="quantidade" #quantidade="ngModel"
            class="form-control" mask="09">
        </div>
      </div>
    </div>
    <div class="btn btn-default" (click)="ngxSmartModalService.getModal('prescricao').close()">Cancelar</div>
    <button class="btn btn-info pull-right" (click)="adicionaMedicamento()">Adicionar</button>
  </div>
</ngx-smart-modal>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left">
          Pacientes
        </h4>
        <!-- <p class="category">Created using Montserrat Font Family</p> -->
      </div>
      <div class="card-body">
        <div class="table">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" cellspacing="0"
            class="table table-striped table-bordered dataTable">
            <thead class="text-primary">
              <tr>
                <th>Nome</th>
                <th>CPF/RG</th>
                <th>Tipo</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paciente of pacientes">
                <td>{{ paciente.nome }}</td>
                <td>{{ paciente.cpf_rg }}</td>
                <td>{{ paciente.tipo }}</td>
                <td class="text-right">
                  <button class="btn btn-info btn-icon btn-sm" type="button" title="Nova Evolução"
                    (click)="openFormNew(paciente.id, paciente.nome)">
                    <i class="fa fa-plus-square fa-2x"></i>
                  </button>
                  <button class="btn btn-warning btn-icon btn-sm " type="button" title="Editar"
                    (click)="openFormEdit(paciente.id, paciente.nome)" *ngIf="paciente.hasEvolucao">
                    <i class="fa fa-edit fa-2x"></i>
                  </button>
                  <button class="btn btn-danger btn-icon btn-sm " type="button" title="Excluir">
                    <i class="fa fa-times fa-2x"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
