<ngx-smart-modal #myModal identifier="myModal">
  <h3>Novo Paciente</h3>
  
  <p>Some stuff...</p>
  
  <button class="btn btn-default" (click)="myModal.close()">Cancelar</button>
  <button class="btn btn-info pull-right" (ngSubmit) = "onSubmit()">Salvar</button>
</ngx-smart-modal>

<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title pull-left">
            Pacientes
          </h4>
          <button class="btn btn-info btn-round pull-right" type="submit" (click)="ngxSmartModalService.getModal('myModal').open()">
            Novo
          </button>
        </div>
        <div class="card-body">
          <div class="table">
            <table datatable [dtOptions]="dtOptions" cellspacing="0" class="table table-striped table-bordered dataTable">
              <thead class=" text-primary">
                <tr>
                <th>Nome</th>
                <th>CPF/RG</th>
                <th>Data Nascimento</th>
                <th>Sexo</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  