<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-02 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Usuários</p>
              <p class="card-title">{{ usuarios }}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-user-md"></i> Cadastrados
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-sound-wave text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Pacientes</p>
              <p class="card-title">{{ pacientes }}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-users"></i> Cadastrados
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-app text-info"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Inventário</p>
              <p class="card-title">{{ inventario }}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-medkit"></i> Itens Cadastrados
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Atendimentos</p>
              <p class="card-title">{{ atendimentos }}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Este mês
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Frequência de Atendimento</h5>
        <div class="col-md-4">
          <div class="form-group">
            <label>Ano Referência</label>
            <ng-select [multiple]="false" [clearable]="false" [(ngModel)]="form.ano" name="ano" #ano="ngModel" (change)="getChartByAno()">
              <ng-option *ngFor="let ano of _ano_referencia" selected="true" [value]="ano">{{ ano }}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="card-body ">
        <canvas id=frequenciaAtendimento width="400" height="120"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-warning"></i> Enfermagem
          <i class="fa fa-circle text-info"></i> Consultas
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> {{ ano.value }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Total de Atendimentos {{ totalAtendimentos }}</h5>
        <!-- <p class="card-category">Total de atendimentos</p> -->
      </div>
      <div class="card-body ">
        <canvas id="quantidadeAtendimento"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <div class="row">
            <span class="badge badge-warning">{{ atendimentoEnfermagem }}</span>&nbsp; Enfermagem
          </div>
          <div class="row">
            <span class="badge badge-info">{{ atendimentoConsultas }}</span>&nbsp; Consultas
          </div>
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> {{ ano.value }}
        </div>
      </div>
    </div>
  </div>
</div>

